/* Reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px; /* <1200px, 1400px> */
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-weight: bold;
}

.hero-text h1 {
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px #000;
    color: #dddd;
}

.hero-text span {
    text-transform: uppercase;
    color: royalblue;
}

.section-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* Navigation */
nav {
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
}

.burger-icon {
    display: block;
    margin-left: auto;
    line-height: 60px;
    border: none;
    background: none;
    padding: 0 30px;
    cursor: pointer;
}

.nav-items {
    display: none;
}

/* Header */

.header {
    position: relative;
    height: 330px;
    background-image: url("../img/wolf-1351940_640.jpg");
    background-size: cover;
    background-position: center;
}

/* Main */

main {
    margin: 60px 0;
}
/* About us */
.about-us-info {
    padding: 0 20px;
    margin-bottom: 10px;
}

/* Products */

.products {
    margin: 60px auto;
}

.product {
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.product h3 {
    text-transform: uppercase;
}


.first-product {
    background-image: url("../img/children-593313_640.jpg");
}

.second-product {
    background-image: url("../img/keyboard-70506_640.jpg");
}

.third-product {
    background-image: url("../img/woman-1851464_640.jpg");
}

.fourth-product {
    background-image: url("../img/laptop-1483974_640.jpg");
}

.contact {
    text-align: center;
}

.contact h3{
    margin: 20px 0 5px;
    text-transform: uppercase;
}

footer {
    padding: 30px 10px;
    text-align: center;
    background-color: #ddd;
}



@media (min-width: 768px) {
    .nav-items {
        display: block;
    }
    .nav-items a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 40px;
        font-weight: bold;
        color: #333;
        transition: color .3s;
    }

    .nav-items a:hover {
        color: royalblue;
    }
    .burger-icon {
        display: none;
    }

    .header {
        height: 400px;
        /*background-image: url("../img/wolf-1351940_1280.jpg");*/
    }

    .hero-text h1 {
        font-size: 36px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .product h3 {
        font-size: 24px;
    }

}

@media (min-width: 992px) {
    .products-box {
        font-size: 0;
    }
    .product {
        width: 50%;
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .hero-text h1 {
        font-size: 42px;
    }

    .hero-text p {
        font-size: 20px;
    }

    
}