/* Reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation */

nav {
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px; /* <1200px, 1400px> */


}

.burger-icon {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}



@media (min-width: 768px) {
    .burger-icon {
        display: none;
    }

    .nav-items {
        display: block;
    }

    .nav-items {
        display: none;
    }

    .nav-items a {
        padding: 0 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #333333;
        transition: color .3s;
    }

    .nav-items a:hover {
        color: #09ef;
    }
}
