/* Reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px; /* <1200px, 1400px> */

}

nav {
    height: 60px;
    line-height: 60px;
    background-color: #ddd;
    text-align: center;
}

.burger-icon {
    display: block;
    margin-left: auto;
    line-height: 60px;
    border: none;
    background: none;
    padding: 0px 30px;
    cursor: pointer;
}

.nav-items {
    display: none;
}

@media (min-width: 768px) {
    .nav-items {
        display: block;
    }
    .nav-items a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 40px;
        font-weight: bold;
        color: #333;
        transition: color .3s;
    }

    .nav-items a:hover {
        color: royalblue;
    }
    .burger-icon {
        display: none;
    }
}